*{
    margin :0;
    padding: 0;
    font-family: PT Sans,sans-serif;
}
.app{
    overflow-x: hidden;
}
#{
    display: none;
}
.header{
    width: 100%;
    height: var(--navbar-hieght);
    background-color: var(--background-color-primary);
    box-shadow: 1px , 12px 3px white;
    z-index: 99;
}
.navbar{
    display: flex;
    align-items: center;
    z-index: 99;
}
.navbar__login {
    height: var(--navbar-hieght);
}
.navbar__login a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.6rem;
    border:  2px solid var(--text-color);
    padding: 8px;
    border-radius: 15px;
    letter-spacing: 1.5px;
    font-weight: bold;
    width: 100px;
    height: 20px;
}
.navbar__login a i{
    margin-right: 5px;
}
.navbar__login a:hover {
    background-color: white;
    color: #286df3;
    cursor: pointer;
}
.navbar__list {
    display: flex;
    align-items: center;
}
.navbar__list-item{
    display: inline-block;
}
.navbar__item-link {
    text-transform: uppercase;
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.6rem;
    letter-spacing: 1px;
    padding: 0px 16px;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
}
.navbar__item-link:hover {
    color: blueviolet;
}
.navbar__item-link img{
    width: 50px;
    height: 50px;
    margin: 0 10px;
}
 /* Navbar__Mobile */

.navbar__mobile{
    height: var(--navbar-hieght);
}
.navbar__mobile-control,
.navber__mobile-search
{   padding: 0px 20px;
    font-size: 2.6rem;
    color: var(--text-color);
    cursor: pointer;
}
/* Banner */
.overlay{
    background-color: rgba(46, 96, 221, 0.5) ;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.overlay__content{
    position: absolute;
    width: 90%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.overley__content-title{
    font-size: 4.2rem;
    color: var(--text-color);
    margin-bottom: 20px;
}
.overlay__content-describle{
    color: var(--text-color);
    font-size: 20px;
    margin-bottom: 30px;
}
.overlay__conten-button{
    color: var(--text-color);
    background-color: var(--background-color-primary );
    outline: none;
    border: none;
    border-radius: 15px;
    padding: 10px 16px;
    font-size: 1.8rem;
    cursor: pointer;
}
.overlay__conten-button:hover{
    background-color: #3362be;
}

.banner{
    position: relative;
    width: 100%;
    height: calc(100vh - 80px);
    background-color: black;
}
.banner .list_img{
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
    height: calc(100vh - 80px);
    overflow: hidden;
}
.img{
    width: 100%;
    height: calc(100vh - 80px);
    position: absolute;
    background-size: cover;
    opacity: 0;
    transform-origin: center;
}
.img.img-see{
    opacity: 1;
}
.img-one{
    background-image: url(../img/banner.jpg);
}
.img-two{
    background-image: url(../img/banner2.jpg);
}
.img-three{
    background-image: url(../img/banner3.jpg);
}
.button{
    padding: 0;
    margin: 0;
    position: absolute;
    list-style: none;
    width: 100%;
    height: 100%;
}
.button li{
    display: inline-block;
    padding:0 20px;
    cursor: pointer;
}
.animation{
    animation:  fadeOut 1s forwards;
}
@keyframes fadeOut{
    from{
        opacity: 1;
        transform: scale(1);
    }
    to{
        opacity: 0;
        transform: scale(2);
    }
}
.animation-in{
    animation:  fadeIn 1s forwards;
}
@keyframes fadeIn{
    from{
        opacity: 0;
        transform: scale(0.7);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
.animation2{
    animation: animation2 1s forwards;
}

.animation3{
    animation: animation3 1s forwards;
}
@keyframes animation2{
    from{
        opacity: 0;
        transform: scale(1.5);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes animation3{
    from{
        opacity: 0.5;
        transform: scale(1);
    }
    to{
        opacity: 0;
        transform: scale(0);
    }
}

.left{
    position: absolute;
    top: 50%;
    left: 0%;
    font-size: 5rem;
    transform: translateY(-50%);
}
.right{
    position: absolute;
    top: 50%;
    right: 0%;
    font-size: 5rem;
    transform: translateY(-50%);
    
}
.right i,
.left i
{
    color: white;
}